html,body{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

.contanier{
height: 100%;
width: 100%;
background-color: aqua;
text-align: center;
border-radius: 20px;
padding: 20px;
}

button{
    border-radius: 10px;
    font-size: 22px;
    background-color: blue;
}